.rounded-corners-all-around {
    border-radius: 50px;
   }

.fg-color-dark-gray { color: darkgray; }

.bg-color-light-gray {
    background-color: lightgray;
}

.border-none {
   border-width: 0px; }

   .pos-absolute-30 {
      position: absolute;
      left: 30px;
   }

   .pos-absolute-200 {
      position: absolute;
      left: 200px;
   }

   .pos-relative {
      position: relative;
   }
   
   


   